.ytp-gradient-top {
    display: none;
}
.ytp-chrome-top.ytp-show-cards-title {
    display: none;
}
a.ytp-impression-link {
    display: none;
}
.ytp-pause-overlay {
    display: none;
}

button.ytp-subtitles-button.ytp-button {
    display: none;
}

button.ytp-multicam-button.ytp-button {
    display: none;
}

a.ytp-youtube-button.ytp-button.yt-uix-sessionlink {
    display: none;
}

